{{ define "main" }}
  <div class="page">
    <div class="row">
      <p class="label">
        {{- with .Parent }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end -}}
      </p>
      <div class="col">
        <h1 class="page-title">{{ .Title }}</h1>
        {{- with .Description }}<p class="page-intro">{{ . }}</p>{{ end }}
      </div>
    </div>
    <div class="row">
      <p class="label">{{ i18n "list_count" (dict "Count" (len .Pages)) }}</p>
      <div class="col">
        {{ partial "entries.html" (dict "pages" .Pages "excerpt" true) }}
      </div>
    </div>
  </div>
{{ end }}
